@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');


.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding:320px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.info {
  display: flex;
  flex-direction: row;
  gap: 300px;
}

.warning {
  text-align: center;
  font-family: Poetsen One;
  color: rgb(187, 187, 187);
}

.button {
  padding: 9px 69px;
  background-color: #fcf6f6;
  color: #030303;
  border: none;
  font-family: Poetsen One;
  border-radius: 4px;
  font-size: 35px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  transform: scale(1.1);
}